.questions-container {
  width: 80%;
  margin: auto;
  list-style: none;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
}

.submit-button,
.logout-button {
  cursor: pointer;
}

.submit-button {
  background-color: green;
  color: white;
  border-radius: 5px;
  padding: 5px;
  border: none;
  font-size: 10px;
}

.logout-button {
  background-color: #3b82f6;
  color: white;
  border-radius: 5px;
  padding: 2px;
  border: none;
  font-size: 10px;
  padding: 5px;
  font-weight: 500;
}

.timer {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
  border: none;
  font-size: 10px;
}

.nav-bar img {
  width: 20%;
}

@media screen and (min-width: 425px) {
  .nav-bar img {
    width: 15%;
  }
  .submit-button {
    border-radius: 5px;
    line-height: 2;
    font-size: 12px;
    padding: 5px;
  }
  .logout-button {
    line-height: 2;
    font-size: 12px;
    border-radius: 5px;
    padding: 5px;
  }

  .timer {
    line-height: 2;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .logout-button,
  .timer,
  .submit-button {
    font-size: 16px;
  }
}

.results-container {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('https://res.cloudinary.com/dl3cvyhk8/image/upload/v1670324215/b5adbd66b693db502be7544272657a55_msctyr.webp');
  width: 70%;
  margin: auto;
  border: 3px solid black;
  padding: 10px;
  min-height: 70vh;
  text-align: center;
}
